body{
	margin: 0;
	padding: 0;
	background-image: url("../img/background.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}

h2{
	font-size: 48px;
	color: #F62817;
	position: absolute;		
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box1 {
	width: 400px;
	height: 500px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 12px;
	opacity: 0.7;
	background-color: rgba(31,31,31,1);
	filter: blur(1px);
}
.box2 {
	width: 400px;
	height: 500px;
	top: 51%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
button{
	margin-bottom:7px;
	margin-top:10px;
	width: 60%;
	top: 30%;
	left: 20%;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 12px;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	color:#CECECE;
	background: linear-gradient(309deg, #504A4B 50%, #F62817 50%);
	position: relative;
}
button a{
	color:#CECECE;
	text-decoration: none;
}

button.adminbutton {
	position: absolute;
	top: 10%;
}
button:after{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: linear-gradient(309deg, #504A4B 50%, #F62817 50%);
}
button, button:after{
	background-size:300%;
	background-position:100%;
	transition: 0.8s;
}

button:hover, button:hover:after{
	background-position: 0;
	color: black;
}
button:hover a{
	color: black;
	transition: 0.8s;
} 

button.lista {
	margin-bottom: 40px;
}
p.curso{
	position: absolute;
	top:24%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #F62817;
	font-size: 24px;
	
}
p.professores{
	position: absolute;
	top:53%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #F62817;
	font-size: 24px;
}
i.fa-solid {
	position: absolute;
	top: 7%;
	left:50%;
	transform: translate(-50%, -50%);
	color: red;
}

i.fa-brands {
	margin-top:-200px;
	display:block;
}

img{
	width: 200px;
	margin-top: 150px;
	margin-left: 100px;
}

@keyframes blink {
    0% { box-shadow: rgba(246, 40, 23, 0.25) 0px 60px 100px -12px; }
    50% { box-shadow: none;}
    100% { box-shadow: rgba(246, 40, 23, 0.25) 0px 60px 100px -12px; }
}

@-webkit-keyframes blink {
    0% { box-shadow: rgba(246, 40, 23, 0.25) 0px 60px 100px -12px; }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0 0 15px red; }
}

.box1 {
    -webkit-animation: blink 4.0s linear infinite;
    -moz-animation: blink 4.0s linear infinite;
    -ms-animation: blink 4.0s linear infinite;
    -o-animation: blink 4.0s linear infinite;
    animation: blink 4.0s linear infinite;
}

